{%- if frontend.useCDN -%}{%- set staticPath = "//" + frontend.staticFilesURI + frontend.staticFilesPath -%}{%- endif -%}
<!DOCTYPE html>
<html lang="en" class="{% block htmlclasses %}svg-bg{% endblock %}" id="{% block htmlid %}{% endblock %}" data-base="{{ staticPath }}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="description" content="{% block metadesc %}Your online resume{% endblock %}">
	<title>{% block title %}CV.Network{% endblock %}</title>
	{% if frontend.useCDN %}<link rel="dns-prefetch" href="{{ staticPath }}">{% endif %}
	<link rel="dns-prefetch" href="//ajax.googleapis.com">
	<link rel="icon" href="{{ staticPath }}/images/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon-precomposed" href="{{ staticPath }}/images/favicon/apple-touch-icon-152x152.png">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#000000">
	<meta name="msapplication-TileColor" content="#000000">
	<meta name="msapplication-TileImage" content="{{ staticPath }}/images/favicon/mstile-144x144.png">
	{% block headcss %}
	{{ bundle.base.styles|safe }}
	{% endblock -%}

	<!--(1) View -->
	<script type="text/javascript">asmiSetup = {view: "d"}</script>
	<!--(2)PageSet -->
	<script src="//ec-ns.sascdn.com/diff/251/pages/hackday.js"></script>
	<script type="text/javascript">/*(3)PageName*/
	asmi.pageSet.pageName = "hackday";
	var sas_target = "audi";
	sas_loadHandler = function (f) {
		if (!f.hasAd) {/* do something when no ad will be delivered, e.g. hide ad   container*/
		} else {/* do something when ad will be delivered, e.g. make sure adcontainer is visible*/
		}
		console.log('format : ' + f.id + ' ' + f.hasAd);
	}</script>
</head>
<body>
{%- if view.dashboard %}
{#- Responsive sidebar menu #}
<div class="ui sidebar left vertical borderless large inverted dashboard menu">
	<a class="item active toc close interaction" data-interaction-name="Close Menu"><i class="close icon"></i> Menu</a>
	{% include "./navigation_menu.html" ignore missing %}
</div>
<div class="pusher">
{% endif -%}

	{% block header %}
	<header>
		<div class="ui container">
			<div class="ui large secondary fitted text two item menu">
				{% if view.dashboard %}<a class="toc left item"><i class="large sidebar icon"></i></a>{% endif %}
				<a class="logo item" href="/" title="CV.Network"><img class="ui small image" src="{{ staticPath }}/images/logo.svg" alt="CV.Network" onerror="this.onerror=null; this.src='{{ staticPath }}/images/logo.png'"></a>
			</div>
		</div>
	</header>
	{% endblock %}

	<div id="main" class="{% block mainclass %}{% endblock %}">
		<div class="wrapper">

			{%- if view.dashboard %}
				<div class="ui equal width centered grid">
					<div class="computer only column">
						{#- Non-responsive main left menu #}
						<div class="ui left fixed vertical borderless large inverted dashboard menu">
							<a class="item logo" href="/" title="CV.Network"><img class="ui small centered image" src="{{ staticPath }}/images/logo.svg" alt="CV.Network" onerror="this.onerror=null; this.src='{{ staticPath }}/images/site.png'"></a>
							{% include "./navigation_menu.html" ignore missing %}
						</div>
					</div>
					<div class="sixteen wide computer column" id="dash">
			{%- endif %}
					<section id="content">
					{% block bodycontent %}
					{% endblock %}
					</section>
			{%- if view.dashboard %}
					</div>
				</div>
			{%- endif %}

		</div>
	</div>


	<footer class="ui inverted vertical footer segment">
		<div class="ui container">
			<div class="ui inverted equal height grid">
				<div class="sixteen wide column center aligned">
					Copyright &copy; 2016 <a href="/" title="CV.Network" target="_blank">CV<span style="color:#db2a28">.</span>Network</a> All rights reserved.
				</div>
			</div>
		</div>
	</footer>
{% if view.dashboard %}
</div>
{% endif %}


<div id="sas_3648" style="position:absolute;top:290px;height:600px;left: 0px;z-index:9999;">
	<script type="text/javascript">
		asmi.pageSet.pageName = "hackday";
		sas_formatid = "3648";
		sas_target = "audi";
		if(window.location.search=="?banner=1")
			SmartAdServerAjax(false, sas_formatid, sas_target);
	</script>
</div>

{% block bodyscripts %}
<script>
document.write(decodeURIComponent('%3Cscript src="')
	+('https:'==document.location.protocol ? 'https://' : 'http://')
	+ 'ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js'
	+ decodeURIComponent('"%3E%3C/script%3E'));
</script>
<script>!window.jQuery && document.write(decodeURIComponent('%3Cscript src="') + '{{ staticPath }}/jquery.js' + decodeURIComponent('"%3E%3C/script%3E'));</script>
{{ bundle.base.scripts|safe }}
{% endblock %}
</body>
</html>
